
body {
	margin: 0;
	padding: 0;
	color:#fff;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

h2  {
	font-size: 2em;
	font-weight:bold;
	color: #b7db44;
}

h3  {
	font-size: 2em;
	font-weight:bold;
	color: #b7db44;
}

a {
	font-weight:bold;
	color:#ccc;
	text-shadow:0 -1px 0 black;
}
a:hover,a:focus{
     background:rgba(0,0,0,.4);
     box-shadow:0 1px 0 rgba(255,255,255,.4);
}
a span{
     position:absolute;
		 margin-top:23px;
		 margin-left:-35px;
		 color:#09c;
     background:rgba(0,0,0,.9);
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);
		 transform:scale(0) rotate(-12deg);
}
a:hover span, a:focus span{
     transform:scale(1) rotate(0);
}


/* Mise en place des différentes parties / slides */
#slide1, #slide2, #slide3 {
	height: 1000px;
	padding-top:100px;
}

#slide1 {
	background:url(slide1.jpg) center 0 no-repeat fixed;
}

#slide2 {
	background: url(arduino.jpg) center 0 no-repeat fixed;
}

#slide3 {
	background: url(slide3.jpg) center 0 no-repeat fixed;
}


.navbar {
  min-height: 110px;
  z-index: 1000;
}

.navbar-nav>li>a {
  line-height: 78px;
  font-size:  26px;
}
.pull-left {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* Gestion du contenu */
.slide_inside {
	width: 980px;
	margin: 0 auto;
}

#slide1  .slide_inside {
	text-align:center;
}
 .text {
	background-color: rgba(0, 0, 0, 0.5);
	margin-top:50px;
	padding:50px;
	text-align:justify;
	font-size: 16px;
}

#slide2 .slide_inside  {
	background-color: rgba(0, 0, 0, 0.5);
	margin-top:50px;
	padding:50px;
	text-align:justify;
	font-size: 16px;
}

#slide3 .slide_inside {
	background-color: rgba(0, 0, 0, 0.5);
	margin-top:50px;
	padding:50px;
}
@media (max-width: 768px) {
  .navbar-brand  {
    text-indent: 0;
    font-size: 28px;
    line-height: 81px;
  }
  .navbar-brand img {
    background: none;
  }
}

@media (max-width: 400px) {
  .navbar-brand  {
    font-size: 22px;
    line-height: 24px;
  }
}
